.hero
  .hero-top.hero-home.full-width
    .header-text.text-center
      %h2 We bring the business customer closer to the market ensuring competitive pricing and transparency
  .hero-main
    .container-fluid
      .row.text-center
        .col-xs-12
          .header-text
            %h2 What are your business needs?
        .col-sm-6.no-padding-left-right
          %h3.before-caption Small business
          = link_to slug_to_url('small-business-electricity-supply') do
            .photo-with-caption.sector-photo
              = image_tag asset_path('stock/173900235.jpg'), id: 'small-business-photo', class: 'sector-photo'
              .caption
                .blur.sector-photo
                .caption-text
                  %p Some text to do with small businesses goes here.
                  %a.more-info{href: slug_to_url('small-business-electricity-supply')} Find Out More
        .col-sm-6.no-padding-left-right
          %h3.before-caption Corporate &amp; Industrial
          = link_to slug_to_url('large-business') do
            .photo-with-caption.sector-photo
              = image_tag asset_path('stock/507851977.jpg'), id: 'corporate-industrial-photo', class: 'sector-photo'
              .caption
                .blur.sector-photo
                .caption-text
                  %p Some text to for the Corporate &amp; Industrial sector.
                  %a.more-info{href: slug_to_url('large-business')} Find Out More
        .col-xs-12.spacer

.full-width-cta.bg-blue-purple
  %a{href: '/quotes/new'}
    Are you a small business? Click here to get a quote in 2 minutes &gt;

.full-width-image-block
  = image_tag asset_path('stock/538359264.jpg')

.text-block
  .container-fluid
    .row.text-center
      .col-xs-12
        %h2 Why Brook Green Supply?
    .row.text-center
      .col-xs-8.col-xs-offset-2
        .sub-h2
          We provide the business energy market with the best service whilst maintaining its ability
          to supply electricity and gas at highly competitive prices.

