.container
  .authform
    .row
      .col-xs-4.col-xs-offset-4
        %h2= t 'devise.invitations.edit.header'
        = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
          = f.hidden_field :invitation_token
          - if f.object.class.require_password_on_accepting
            %p
              = f.label :password
              %br/
              = f.password_field :password
            %p
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation
          = devise_error_messages!
          %p= f.submit t("devise.invitations.edit.submit_button")
