%td= product.matrix_id
%td= product.distribution_zone
%td= "#{product.duration} #{product.duration == 1 ? 'year' : 'years'}"
%td= product.lower_limit_aq
%td= product.upper_limit_aq
%td= "#{product.standing_charge_rate} p/day"
%td= "#{product.rate} p/kWh"
