%h2 Electricity

%h3 Update prices

= form_tag admin_new_electricity_prices_path, method: :put, multipart: true do
  = file_field_tag :file, accept: "text/csv"
  %br/
  = submit_tag "Upload CSV"

%h3 Current prices [latest update: #{ElectricityProduct.all.max_by(&:created_at).created_at}]

%p
  Sort by:
  %button.sort{data: {sort: "area"}}
    area
  %button.sort{data: {sort: "duration"}}
    duration

%table.table.table-striped.table-hover.table-bordered
  %thead.list
    %tr
      %th Profile class
      %th Distribution area
      %th Contract length
      %th Product name
      %th Standing charge
      %th Unit rate (standard/day)
      %th Unit rate (night)
      %th Matrix id
  %tbody.list
    - @electricity_products.each_with_index do |product, idx|
      %tr
        = render 'electricity_product', product: product

%h3 Gas

%h3 Update prices

= form_tag '/', multipart: true do
  = file_field_tag :file, accept: "text/csv"
  %br/
  = submit_tag "Upload CSV"

%h3 Current prices

%table.table.table-striped.table-hover.table-bordered
  %tbody.list
    - @gas_products.each_with_index do |product, idx|
      %tr
        = render 'gas_product', product: product

