.row.cover.cover-here-fixes-navbar-hscroll
  .col-xs-2
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = image_tag asset_path('bgs-logo.png'), id: 'top-logo'
  .col-xs-2.col-xs-offset-8
    #hamburger
      .table-row
        %span.glyphicon.glyphicon-search.search.table-cell
        %a.navbar-toggle.table-cell{href: '#', data: {'toggle' => 'collapse', 'target' => '.navbar-collapse'}}
          %span.glyphicon.glyphicon-menu-hamburger
      %br
  .col-xs-12.col-lg-9.col-lg-offset-1.full-width-until-navbar-border
    .navbar-links.navbar-collapse.collapse
      %ul
        %li
          = link_to 'Sector', slug_to_url('sector')
        %li
          = link_to 'Products', slug_to_url('products')
        %li
          = link_to 'Support', slug_to_url('support')
        %li
          = link_to 'Market Updates', slug_to_url('market-updates')
        %li
          = link_to 'About', slug_to_url('about')
        %li
          = link_to 'Contact', slug_to_url('contact')
        %li.search
          %span.glyphicon.glyphicon-search
