.row.cover.cover-here-fixes-navbar-hscroll
  .col-xs-2
    .navbar-header
      = link_to '/', class: 'navbar-brand' do
        = image_tag asset_path('bgs-logo.png'), id: 'top-logo'
  .col-xs-2.col-xs-offset-8
    #hamburger
      .table-row
        %a{href: '/help'}
          %span.glyphicon.glyphicon-search.search.table-cell
        %a.navbar-toggle.table-cell{href: '#', data: {'toggle' => 'collapse', 'target' => '.navbar-collapse'}}
          %span.glyphicon.glyphicon-menu-hamburger
      %br
  .col-xs-12.full-width-until-navbar-border
    .navbar-links.navbar-collapse.collapse
      %ul.no-mark
        %li
          = link_to 'Sectors', slug_to_url('energy-sectors')
        %li
          = link_to 'Consultants', slug_to_url('consultants')
        %li
          = link_to 'Support', slug_to_url('business-support')
        %li
          = link_to 'Market Updates', slug_to_url('energy-market-updates')
        %li
          = link_to 'About', slug_to_url('about')
        %li
          = link_to 'Contact', slug_to_url('contact')
        %li.search
          %a{href: '/help'}
            %span.glyphicon.glyphicon-search
