!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title
      = content_for?(:title) ? yield(:title) : 'Brook Green Supply'
    / %meta{"name" => "description", "content" => ""}/
    / %meta{"name" => "author", "content" => ""}/
    / %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}/
    %meta{"name" => "description", "content" => "#{content_for?(:description) ? yield(:description) : 'Brook Green Supply'}"}
    = stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags

  %body
    %header
      #top-nav.navbar{:role => "navigation"}
        .container-fluid.cover
          = render 'layouts/navigation'
    %section#alerts
      .container-fluid
        = render 'layouts/messages'
    %section#main{:role => 'main'}
      .container-fluid.cover
        = yield
    %footer
      .container-fluid.cover
        = render 'layouts/footer'

    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

